<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="XYZ Bank">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="listeners.CustomListeners" />
	</listeners>

	<test name="Bank Manager Login Test">
		<classes>
			<class name="tests.BankManagerLoginTest" />
		</classes>
	</test> <!--Bank Manager Login Test -->

	<test name="Add Customer Test">
		<classes>
			<class name="tests.AddCustomerTest" />
		</classes>
	</test> <!--Add Customer Test -->

	<test name="Open Account Test">
		<classes>
			<class name="tests.OpenAccountTest" />
		</classes>
	</test> <!--Open Account Test -->

</suite> <!-- XYZ Bank -->
